---
import Layout from "@/layouts/OrgLayout.astro";
import { fetchOrgs } from "@/lib/data";

export async function getStaticPaths() {
  const orgs = await fetchOrgs({
    limit: 10,
  });
  return orgs.map((org) => ({
    params: { page: org.id },
    props: { org: org },
  }));
}

const { org } = Astro.props;
const { page } = Astro.params;
---

<Layout org={org} currPage={page}>
  <Fragment slot="section-content">
    <div class="max-w-6xl py-12 mx-auto text-3xl text-primary font-bold">
      Updates go here
    </div>
  </Fragment>
</Layout>
